.cocktail-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0; /* Ensure no external margins */
  padding: 0;
}
.left-section,
.right-section {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: calc(100vh - 16vh);
  border-bottom: 1.3px solid #000;
  overflow: hidden;
  top: 8vh;
}

.left-section {
  border-right: 1.3px solid #000;
}

.back-button {
  align-self: center;
  bottom: 0;
  height: 8vh;
  width: 100%;
  position: absolute;
  border-top: 1.3px solid #000;
  display: flex;
  align-items: center; /* Centers the text vertically */
  justify-content: center; /* Centers the text horizontally */
  font-family: "Konstant Grotesk", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  color: black;
  text-align: center;
}

.text-recipe,
.title-recipe {
  font-size: 1.2rem;
  font-family: "Konstant Grotesk", sans-serif;
  font-weight: 300; /* Reduced from 1rem */
  text-justify: justify;
  line-height: 2rem;
  border-bottom: 1.3px solid #000;
  width: 100%;
  flex-grow: 0; /* Prevents the item from growing */
  flex-shrink: 0; /* Prevents the item from shrinking */
  flex-basis: auto; /* Takes up only as much space as needed */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.title-recipe {
  font-weight: 500;
}
ul {
  list-style-type: none;
}
form {
  display: flex;
  width: 80%;
  margin: 2rem;
  text-align: left;
}

.add-recipe-page {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}
.fav-slider {
  display: flex;
  height: 5vh;
}
.drink-card-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 380px;
  margin: 0.5rem;
  border: 1.3px solid #000;
  overflow: hidden;
}
.image-half {
  width: 100%;
}
.accordion-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
}

.accordion {
  width: 500px;
}

.item {
  background: white;
  margin-bottom: 5px;
  padding: 20px;
  background-color: pink;
}
.name {
  display: flex;
  justify-content: space-between;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
