.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fffff3;
  height: 4rem;
  border-bottom: 1.5px solid #000;
  font-size: 1.2rem;
  overflow: hidden;
  padding-right: 2em;
  padding-left: 2em;
}

.logo {
  font-family: "Konstant Grotesk", sans-serif;
  color: #000;
}

.nav-link {
  font-family: "Konstant Grotesk", sans-serif;
  text-decoration: none;
  color: #000;
}

.nav-links-container {
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
}
