.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8a571;
  /* background: transparent; */
  height: 60px;
  border-bottom: 3px solid rgb(4, 4, 213);
}

.logo {
  font-family: "Konstant Grotesk", sans-serif;
  font-weight: bolder;
  color: rgb(4, 4, 213);
  margin-left: 30px;
}

.about-link {
  font-family: "Konstant Grotesk", sans-serif;
  width: 50px;
  text-decoration: none;
  color: rgb(4, 4, 213);
  margin-right: 30px;
}
